Repository swiftlang/llvm-project, pull requests merged in 2025-09, with the labels that each got.

#11293 🍒 [lldb] make lit use the same PYTHONHOME for building and running the API tests
  lldb/test/API/lit.cfg.py
Labels: LLDB for Swift

#11068 [lldb] fix cropped demangled names in Swift backtraces
  lldb/source/Core/Mangled.cpp
  lldb/source/Plugins/Language/Swift/LanguageSwiftProperties.td
  lldb/source/Plugins/Language/Swift/SwiftLanguage.cpp
  lldb/source/Plugins/Language/Swift/SwiftLanguage.h
  lldb/source/Plugins/Language/Swift/SwiftMangled.h
  lldb/test/API/lang/swift/async/tasks/TestSwiftTaskBacktrace.py
  lldb/test/API/lang/swift/async/tasks/TestSwiftTaskSelect.py
  lldb/test/API/lang/swift/async/unwind/hidden_frames/TestSwiftAsyncHiddenFrames.py
  lldb/unittests/Core/SwiftDemanglingPartsTest.cpp
Labels: LLDB for Swift

#11353 🍒 [windows][lldb] re-add failing tests to expected failures
  lldb/test/windows-swift-llvm-lit-test-overrides.txt
Labels: Windows

#11352 [NFC][lldb] de duplicate TrackingNodePrinter finalize logic
  lldb/source/Core/Mangled.cpp
  lldb/source/Plugins/Language/Swift/SwiftMangled.h
  lldb/unittests/Core/SwiftDemanglingPartsTest.cpp
Labels: LLDB for Swift

#11469 [BoundsSafety] Reland the miscompilation fix for lvalues binding with temporary locations
  clang/lib/CodeGen/CGExpr.cpp
  clang/lib/CodeGen/CGExprAgg.cpp
  clang/lib/CodeGen/CodeGenFunction.h
  clang/test/BoundsSafety-legacy-checks/CodeGen/constant-eval-count-static-init.c
  clang/test/BoundsSafety-legacy-checks/CodeGen/count-dependent-assignment-checks/count-attr-fields-assign-2-oob2.c
  clang/test/BoundsSafety-legacy-checks/CodeGen/count-dependent-assignment-checks/dep-count-init-list-basic-O2.c
  clang/test/BoundsSafety-legacy-checks/CodeGen/flexible-array-member-promotion-deref.c
  clang/test/BoundsSafety-legacy-checks/CodeGen/multiple-dependees.c
  clang/test/BoundsSafety-legacy-checks/Profile/flexible-array-member-checks-code-coverage.c
  clang/test/BoundsSafety/CodeGen/array_subscript_agg.c
  clang/test/BoundsSafety/CodeGen/builtin-memcpy-count-annotation.c
  clang/test/BoundsSafety/CodeGen/call-with-count-ptr.c
  clang/test/BoundsSafety/CodeGen/cast-to-count-argument-stmt-expr.c
  clang/test/BoundsSafety/CodeGen/constant-eval-count-static-init.c
  clang/test/BoundsSafety/CodeGen/count-dependent-assignment-checks/count-attr-fields-assign-2-oob2.c
  clang/test/BoundsSafety/CodeGen/count-dependent-assignment-checks/counted-to-counted-assignments-O2.c
  clang/test/BoundsSafety/CodeGen/count-dependent-assignment-checks/counted-to-counted-assignments.c
  clang/test/BoundsSafety/CodeGen/ended_by_assign_checks_seq-O2.c
  clang/test/BoundsSafety/CodeGen/ended_by_assign_checks_seq.c
  clang/test/BoundsSafety/CodeGen/ended_by_bag_of_bytes.c
  clang/test/BoundsSafety/CodeGen/flexible-array-member-bidi-O0.c
  clang/test/BoundsSafety/CodeGen/flexible-array-member-promotion-call-builtin-O2.c
  clang/test/BoundsSafety/CodeGen/flexible-array-member-promotion-deref.c
  clang/test/BoundsSafety/CodeGen/flexible-array-member-promotion-returns-O2.c
  clang/test/BoundsSafety/CodeGen/multiple-dependees.c
  clang/test/BoundsSafety/CodeGen/nested-flexible-array-member-O2.c
  clang/test/BoundsSafety/CodeGen/nested-flexible-array-member-nested-len-O2.c
  clang/test/BoundsSafety/CodeGen/nested-flexible-array-member-nested-len.c
  clang/test/BoundsSafety/CodeGen/nested-flexible-array-member.c
  clang/test/BoundsSafety/Profile/flexible-array-member-checks-code-coverage.c
Labels: clang:bounds-safety

#11463 [BoundsSafety] Allow using bounds-attributed types when deducing auto
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaTemplateDeduction.cpp
  clang/test/BoundsSafety/AST/auto-type-attribute-only-mode.c
  clang/test/BoundsSafety/Sema/auto-type-attribute-only-mode.c
  clang/test/BoundsSafety/Sema/auto-type-from-bound-pointers.c
Labels: clang:bounds-safety

#11170 [-Wunsafe-buffer-usage] Relax passing to __counted_by_or_null()
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Analysis/UnsafeBufferUsage.cpp
  clang/lib/Sema/AnalysisBasedWarnings.cpp
  clang/test/SemaCXX/warn-unsafe-buffer-usage-count-attributed-pointer-argument.cpp
  clang/test/SemaCXX/warn-unsafe-buffer-usage-in-container-span-construct-count-attributed-pointer.cpp
  clang/test/SemaCXX/warn-unsafe-buffer-usage-libc-functions-interop-annotated.cpp
Labels: clang:bounds-safety

#11504 [BoundsSafety] Reland the miscompilation fix for lvalues binding with temporary locations
  clang/lib/CodeGen/CGExpr.cpp
  clang/lib/CodeGen/CGExprAgg.cpp
  clang/lib/CodeGen/CodeGenFunction.h
  clang/test/BoundsSafety-legacy-checks/CodeGen/constant-eval-count-static-init.c
  clang/test/BoundsSafety-legacy-checks/CodeGen/count-dependent-assignment-checks/count-attr-fields-assign-2-oob2.c
  clang/test/BoundsSafety-legacy-checks/CodeGen/count-dependent-assignment-checks/dep-count-init-list-basic-O2.c
  clang/test/BoundsSafety-legacy-checks/CodeGen/flexible-array-member-promotion-deref.c
  clang/test/BoundsSafety-legacy-checks/CodeGen/multiple-dependees.c
  clang/test/BoundsSafety-legacy-checks/Profile/flexible-array-member-checks-code-coverage.c
  clang/test/BoundsSafety/CodeGen/array_subscript_agg.c
  clang/test/BoundsSafety/CodeGen/builtin-memcpy-count-annotation.c
  clang/test/BoundsSafety/CodeGen/call-with-count-ptr.c
  clang/test/BoundsSafety/CodeGen/cast-to-count-argument-stmt-expr.c
  clang/test/BoundsSafety/CodeGen/constant-eval-count-static-init.c
  clang/test/BoundsSafety/CodeGen/count-dependent-assignment-checks/count-attr-fields-assign-2-oob2.c
  clang/test/BoundsSafety/CodeGen/count-dependent-assignment-checks/counted-to-counted-assignments-O2.c
  clang/test/BoundsSafety/CodeGen/count-dependent-assignment-checks/counted-to-counted-assignments.c
  clang/test/BoundsSafety/CodeGen/ended_by_assign_checks_seq-O2.c
  clang/test/BoundsSafety/CodeGen/ended_by_assign_checks_seq.c
  clang/test/BoundsSafety/CodeGen/ended_by_bag_of_bytes.c
  clang/test/BoundsSafety/CodeGen/flexible-array-member-bidi-O0.c
  clang/test/BoundsSafety/CodeGen/flexible-array-member-promotion-call-builtin-O2.c
  clang/test/BoundsSafety/CodeGen/flexible-array-member-promotion-deref.c
  clang/test/BoundsSafety/CodeGen/flexible-array-member-promotion-returns-O2.c
  clang/test/BoundsSafety/CodeGen/multiple-dependees.c
  clang/test/BoundsSafety/CodeGen/nested-flexible-array-member-O2.c
  clang/test/BoundsSafety/CodeGen/nested-flexible-array-member-nested-len-O2.c
  clang/test/BoundsSafety/CodeGen/nested-flexible-array-member-nested-len.c
  clang/test/BoundsSafety/CodeGen/nested-flexible-array-member.c
  clang/test/BoundsSafety/Profile/flexible-array-member-checks-code-coverage.c
Labels: clang:bounds-safety

#11519 [NFC][lldb] de duplicate TrackingNodePrinter finalize logic
  lldb/source/Core/Mangled.cpp
  lldb/source/Plugins/Language/Swift/SwiftMangled.h
  lldb/unittests/Core/SwiftDemanglingPartsTest.cpp
Labels: LLDB for Swift

#11521 [BoundsSafety] Add utilities for checking dependent count and pointer
  clang/include/clang/AST/Decl.h
  clang/include/clang/AST/TypeBase.h
  clang/lib/AST/Decl.cpp
  clang/lib/AST/Type.cpp
Labels: clang:bounds-safety

#11531 🍒 [BoundsSafety] Add utilities for checking dependent count and pointer
  clang/include/clang/AST/Decl.h
  clang/include/clang/AST/Type.h
  clang/lib/AST/Decl.cpp
  clang/lib/AST/Type.cpp
Labels: clang:bounds-safety
